.main {
   
    @include window-style();

}
  
  .main:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    transform: translateX(-2px); 
  }
  
  
  .title {
    margin: 20px;
    font-size: 26px;
    color: var(--color-20); 
    
  }
  