@mixin window-style($width: 90%) {
    width: $width;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    background: linear-gradient(135deg, var(--color-100) 0%, var(--color-80) 100%); 
    color: var(--color-20); 
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    font-size: 15px;
    font-weight: 500;
}

@mixin standard-animation($duration: 0.2s) {
    -webkit-transition: all $duration ease-in-out;
    -o-transition: all $duration ease-in-out;
    transition: all $duration ease-in-out;
  }

@mixin gradient-background($start-color, $end-color) {
    background: linear-gradient(135deg, $start-color, $end-color);
  }
  
  @mixin rounded-corners($radius) {
    border-radius: $radius;
  }
  
  @mixin transition-ease($property, $duration) {
    transition: $property $duration ease-in-out;
  }
  
  @mixin box-shadow($shadow) {
    box-shadow: $shadow;
  }
  