.main {
    padding: 12px 14px; 
    background-color: var(--color-20);
    color: var(--color-100); 
    border-radius: 8px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase; 
    text-align: center; 
    margin: 30px;

    &:hover {
        background-color: var(--color-20);
        transform: translateY(-2px); 
        color: var(--color-100);
    }

    &:active {
        transform: translateY(0);
    }
    
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed; 
    }
}
