.main {
  display: flex;
  flex-direction: column;
  align-items: center; 

  h3 {
    margin-bottom: rem(5px);
    color: var(--color-100);
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  select {
    padding: 6px 10px;  
    color: var(--color-100);
    border-radius: 8px; 
    background: linear-gradient(145deg, #f0f0f0, #d9d9d9);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
      background: linear-gradient(145deg, #d9d9d9, #c0c0c0);
      border-color: var(--color-80);
    }

    &:focus {
      outline: none;
      border-color: var(--color-80);
      box-shadow: 0 0 0 3px rgba(100, 150, 250, 0.5);  // Evidenzia il campo al focus
    }
  }
}
