.main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: rem(8px);

  h3 {
    margin: rem(8px);
    color: var(--color-20);
    text-align: center;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  select {
    padding: 6px 10px;  
    color: var(--color-100);
    border-radius: 8px; 
    background: linear-gradient(145deg, #F8F0FB, #d9d9d9);
    border: 1px solid #1A1D1A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    &:hover {
      border-color: var(--color-80);
    }

    &:focus {
      outline: none;
      border-color: var(--color-80);
      box-shadow: 0 0 0 3px rgba(100, 150, 250, 0.5);
    }
  }
}
